.enter-container {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: 100;
}

.enter-container button {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: 2px solid #ffffff;
    background: transparent;
}

.enter-container button:hover {
    opacity: 0.5;
}