#player-container {
    margin: 0%;
    /* z-index: 10000; */
    display: -ms-flexbox;
    bottom: 0;
    display: flex;
    -ms-flex-align: center;
    align-self: flex-start;
    margin-right: 20px;
}

.no-touch #playlist li:hover {
    opacity: 0.5;
    cursor: pointer;
}

.no-touch .button:hover {
    opacity: 1;
    border-color: transparent transparent transparent #FFFFFF;
}

@media screen and (max-width: 28em) {
    #play-button-container {
        top: -10px;
    }
    #play-button-container svg {
        top: 20px;
        left: -20px;
    }
    .button {
        margin-top: 70px;
        left: 34px;
    }
    #playlist-container {
        margin-left: -30px;
        display: flex;
        align-self: flex-end;
    }
    #playlist {
        max-height: 100px;
        overflow-y: auto;
        word-break: break-word;
    }
}