
.button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 24px;
    opacity: 0.5;
    border-color: transparent transparent transparent red;
    transition: 500ms all ease;
    -webkit-transition: 500ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 10px 0 12px 20px;
    position: absolute;
    margin-top: 50px;
    left: 48px;
    outline: none;
    top: 0;
}

.button.paused {
    border-style: double;
    border-width: 0px 0 0px 20px;
}

.no-touch .button:hover {
    opacity: 1;
    border-color: transparent transparent transparent #FFFFFF;
}

#play-button-container {
    position: relative;
    overflow: hidden;
    top: 10px;
    z-index: 1000;
}

#play-button-container text {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 9px;
    /* fill: #ffffff; */
    /* stroke: #ffffff; */
}

#play-button-container svg {
    position: relative;
    left: -6px;
    top: 0;
    bottom: 0;
    width: 125px;
    height: 125px;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -ms-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(360deg);
    }
    to {
        -moz-transform: rotate(0);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(360deg);
    }
    to {
        -o-transform: rotate(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}