.header {
    position: absolute;
    background: transparent;
    cursor: pointer;
    z-index: 100;
}

.logo-wrapper {
    cursor: pointer;
    position: absolute;
    width: 100px;
}

.logo-wrapper svg {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

#logo-light {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.2;
    -webkit-filter: blur(20px);
    z-index: 1001;
}

#logo-light:hover {
    background-color: black;
    opacity: 0.2;
}

@keyframes rot {
    from {
        transform: rotate(0deg)
        translate(-150px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(-150px)
        rotate(-360deg);
    }
}



@media screen and (max-width: 28em) {

    .logo-wrapper svg {
        width: 37.5px;
        height: 37.5px;
        top: 10px;
        left: 10px;
    }
  }
